body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
.expense-group-container {
  border: 10px solid orange;  
  background-color: darkcyan;
  width: 28vw;
  height: 25vh;
  float: left;
  margin-left: 4%;
  margin-top: 2%;
}

.expense-name-input {
  border: 5px;
  border-style: groove;
  border-color: black;
}

.inline-container-list-row {
  display: -webkit-inline-box;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
}

.main-button {
    position: relative;
    left: 50%;
}

.add-expense-btn {
  margin: 2%;
}